*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Permanent */

.links{
    color: rgb(0, 113, 133);
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 0.9rem;
}

.links:hover{
    text-decoration: underline;
    color: #c45500;
}


.bold{
    font-weight: 600;
}


/* Main Section */
main{
    height: 130vh;
}

.directions{
    margin-top: 10px;
    font-size: 0.75rem;
    color: #565959;
    margin-left: 12%;
}

.directions:hover{
    cursor: pointer;
}

.underline:hover{
    text-decoration: underline;
}

.grid-container{
    display: grid;
    grid-template-columns: 100px  repeat(5,1fr);
    height: 100vh;
    margin: 0 20vh;
    width: 80vw;}

/* product img */

.product-img-container{
    grid-column: span 2;
    height: 120vh;
    
}

.small-images-container{
    display: flex;
    flex-direction: column;
    height: 60%;
   
}

.sticky{
    position: relative;
}

.sticky img:nth-child(1){
    position: sticky;
    top: 0;
}

.sticky img:nth-child(2){
    position: sticky;
    top: 60px;
}

.sticky img:nth-child(3){
    position: sticky;
    top: 110px;
}

.small-img-1{
    margin-top: 20px;
    margin-left: 5px;
    outline: 1px solid gray;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.small-img-1:hover,
.small-img-2:hover,
.small-img-3:hover{
    cursor: pointer;
    outline: 1px solid cyan;
}

.small-img-2 ,
.small-img-3{
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    outline: 1px solid gray;
    padding: 5px;
    justify-content: center;
    align-items: center;
}


.product-img img{
    width: 100%;
    margin-top: 30%;
}

.product-img img:hover{
    cursor: pointer;
}

.product-img p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    padding-left: 100px;
    padding-top: 30px;
    font-size: .9rem;
    color: grey;
}

.product-img 
{
    position: sticky;
    top: 0;
    left: 0;
}

.product-img img:nth-child(2){
    position: relative;
}

.product-img img:nth-child(2){
    width: 30px;
    position: absolute;
    top: -150px;
    left: 34rem;
    
}

.small-border{
    display: grid;
    margin-top: 450px;
    opacity: 0.7;
}

/* Product info container */

.product-info-container{
    grid-column: span 2;
}

.title-container{
    padding-top: 2rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}

.title-container h2{
    font-weight: normal;
    flex-direction: column;
    line-height: 1.3;
    font-size: 1.7rem;
}

.title-container p{
    display:flex;
}

.rating-arrow{
    height: 15px;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 3px;
}

.rating-arrow:hover{
    cursor: pointer;
}
 
.fa-star{
    font-size: 0.9rem;
    padding-top: 2px;
}

.fa-star:hover{
    cursor: pointer;
}

.amazon-choice-container{
    display: flex;
    
}

.amazon-choice{
    background-color:#232F3E ;
    width:120px;
    font-size: 0.8rem;
    border-bottom-right-radius: 50px;
    padding: 4px;
}

p[tooltip]{
    position: relative;
}

p[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    background-color: whitesmoke;
    color: black;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    bottom: 100%;
    margin-bottom: 10px;
    left: -130px;
    line-height: 16px;
    width: 50ch;
    display: none;
  }

  p[tooltip]:hover::after {
    display: block;
    z-index: 99;
  }

.overall-pick {
    padding-left: 15px;
    font-size: 0.9rem;
}

.small-border-2{
    margin-top: 10px;
    opacity: 0.7;
}

/* Price Container */

.price-container{
    padding-left: 2rem;
    padding-top: 1.3rem;
    display: flex;
    flex-direction: column;
}

.price-discount{
    color: #CC0C39;
    font-size: 24px;
    line-height: 32px;
    margin-right: 3px;
    font-weight: 300;
    padding-right: 5px;
}

.small-pricing{
    font-size: 13px;
    position: relative;
    top: -0.75em;
    margin-left:-5px;
    font-weight: 400;
}

.list-price{
   font-size: 12px;
   line-height: 16px; 
   color: #565959;
   padding-bottom: 7px;
}

.fa-circle-info{
    opacity: 0.8;
}

.fa-circle-info:hover{
    cursor: pointer;
    opacity: 1;
}

span[tooltip]{
    position: relative;
}

span[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    background-color: whitesmoke;
    color: black;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    border-radius: 10px;
    top: 100%;
    left: -200px;
    width: 50ch;
    display: none;
  }

  span[tooltip]:hover::after {
    display: block;
    z-index: 99;
  }

.free-returns-arrow{
    width: 10px;
    cursor: pointer;
}

.fees{
    font-size: 14px;
    line-height: 20px;
    color: #565959;
}

.style-container{
    margin-top: 15px;
}

.style-container p:nth-child(1){
    color: #565959;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 5px;
    font-weight: 500;

}
 
.style-container p:nth-child(2){
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.size-container:hover{
    cursor: pointer;
}

.styling-option p:nth-child(1){
    border: 2px solid orange;
    padding: 12px;
    background-color: transparent;
    margin-right: 10px;
    border-radius: 5px;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.styling-option p:nth-child(2){
    border: 1px solid gray;
    padding: 12px;
    background-color: transparent;
    border-radius: 5px;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Product Details */

.product-details{
    display: grid;
    grid-template-columns: 150px 200px;
    grid-template-rows: repeat(5,30px);
    height: 170px;
    margin-top: 20px;
    font-size: 14px;
}



/* About the item */

.about-this-item{
    margin-top: 20px;
    line-height: 20px;

}

.about-this-item p{
    font-weight: 700;
    padding-bottom: 10px;
    
}

.about-this-item ul{
    font-size: 14px;
    padding-left: 18px;
}

.note p{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

/* Last grid */

.last-grid{
    padding-left: 20px;
}

.price-tag{
    margin-top: 40px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.delivery-arrival{
    padding-top: 2px;
    font-size: 14px;
    width: 26ch;
    line-height: 20px;
    padding-left: 15px;
}

.stock{
    padding-top: 20px;
    color: #007600;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
    padding-left: 15px;

}

.quantity{
    font-size: 11px;
    border-color:#D5D9D9 ;
    border-radius: 8px;
    background-color:#F0F2F2 ;
    padding: 2px;
    margin-left: 15px;
}

.quantity:hover{
    cursor: pointer;
    background-color: #dddddd;
}

.quantity:focus{
    outline: 1px solid blue;
}

.buy{
    padding-top: 20px;
    padding-left: 15px;

}

.buy button:nth-child(1){
    display: block;
    padding: 7px 60px;
    border: none;
    background-color: #ffd814;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    

}

.buy button:nth-child(2){

    display: block;
    padding: 7px 70px;
    border: none;
    background-color: #ffa41c;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
}

.buy button:nth-child(1):hover,
.buy button:nth-child(2):hover{
    opacity: 0.8;
}

.payment-grid{
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: repeat(6,25px);
    height: 140px;
    padding-left: 15px;

}
.payment-grid p{
    color: #565959;
}

.payment-grid p , .payment-grid a{
    font-size: 12px;
}

.add-gift{
    font-size: 14px;
    font-weight: 400;
    width: 24ch;
    line-height: 1.4;
    padding-left: 15px;

}

.add-to-list{
    width: 240px;
    padding: 6px 10px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 15px;

}
.add-to-list:hover{
    cursor: pointer;
    background-color:#f3f3f3;
}

.grid-outline{
    outline: 2px solid #dddddd;
    margin-left: -5px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.new-from{
    margin-top: 30px;
    border: 2px solid #dddddd;
    border-radius: 8px;
    padding: 15px;
    margin-left: -5px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 50px ;
}

.other-sellers{
    border: 2px solid #dddddd;
    border-radius: 8px;

}

.other-sellers p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: 14px;
}

.other-pricing{
    display: grid;
    grid-template-columns: 100px 160px;
    grid-template-rows: 30px 30px 20px;
}

.other-pricing p{
    font-size: 12px;
    padding-left: 10px;
}

.other-pricing p:nth-child(1){
    padding-right: 30px;
    font-size: 1rem;
}

.other-pricing p:nth-child(2){

    border: 1px solid orange;
    background-color: orange;
    border-radius: 8px;
    margin-left: 60px;
    padding: 5px;

}

.other-pricing p:nth-child(2):hover{
    cursor: pointer;
    opacity: 0.8;

}

.other-pricing p:nth-child(3){
width: 20ch;
padding-right: 25px;
color: #565959;
font-size: 11px;

}

.other-pricing p:nth-child(5){
width: 23ch;
padding-right: 25px;
margin-bottom: 60px;

}

.seller-name{
    padding-left: 5px;

}

.seller-name:hover{
    color: #c45500;
}

.selling{
    font-size: 12px;
    margin-top: 20px;
    margin-left: 70px;
}

.sell-now{
    margin-top: 5px;
    border: 2px solid #dddddd;
    border-radius: 8px;
    width: 120px;
    padding: 5px 10px;
    font-size: 13px;

}

.sell-now:hover{
    cursor: pointer;
    background-color: #D5D9D9;
}

/* First Section  */

.first-section{
    height: 43vh;
    margin: 0 12%;
}

.bought-together-container{
    height: 370px;

}

.bought-together-container h2{
    color: #333;
    font-weight: 700;
    line-height: 32px;
    padding-top: 10px;
    font-size: 21px;
    margin-bottom: 20px;
}

/* First Product */

.bg-container{
    background-color: #f7f8f8;
    height: 200px;
    width: 250px;
    position: relative;
    display: flex;
}

.bg-container img{
    width: 90%;
    padding-top: 50px;
    padding-left: 30px;
    height: 80%;
}

.img-checkbox{
    position: absolute;
    left: 95%;
    margin-top: 10px ;
    
}

.item-info{
    font-size: 14px;
    margin-top: 10px;
    width: 25ch;
    padding-bottom: 13px;
}

.plus h2{
    font-size: 28px;
    margin-left: 265px;
    margin-top: -200px;
}

.other-products-price{
    margin-top: 150px;
    position: relative;
}

.other-products-price p{
    display: inline-block;

}
.other-products-price span{
    position: absolute;
}

/* Second product */

.second-product{
    margin-left: 300px;
    margin-top: -280px;
}

.second-product img{
    object-fit: cover;
}

.item-info-2 a{
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
    width: 25ch;
    margin-left: 20%;
}

.other-products-price-2{
    margin-left: 280px;
    position: relative
}
.other-products-price-2 span{
    position: absolute;
}

/* Total price */

.total-price{
    margin-left: 45%;
    margin-top: -220px;
}

.total-price p{
    font-size: 14px;
    padding-bottom: 10px;
}

.total-price-button{
    background-color: #ffd814;
    border-radius: 20px;
    padding: 5px 100px;
    margin-left: -85px;
    font-size: 14px;
}

.total-price-button:hover{
    cursor: pointer;
    opacity: 0.85;

}


.ship-info{
    margin-top: 40px;
    margin-left: -80px;
    width: 42ch;
    font-size: 12px;
}

.details-link-cont{
    position: relative;

}
.details-link-cont a{
    position: absolute;
    top: -8px;
}


/* Second Section */

.second-section{
    height: 60vh;
    margin: 0 12%;
}

.page-number{
    display: flex;
    margin-bottom: 50px;
}

.page-number p{
    font-size: 14px;
    margin-left: 83%;
    color: gray;
}

/* carousel */

.carousel{
    height: 452px;
    margin-right: 9%;
}


.carousel-cell{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-position: center center;
    background-size: cover;
    margin-top: 30px;
    margin-right: 20px;
}

.carousel-cell::before{
    content: '';
    display: block;
}

.items{
    position: relative;
    height: 550px;
}

.first-item a,
.second-item a,
.third-item a,
.fourth-item a,
.fifth-item a{
    position: absolute;
    top: 240px;
    font-size: 14px;
    width: 20ch;
}

.first-item i,
.second-item i,
.fourth-item i,
.fifth-item i{
    margin-top: 310px;
}

.underline-p:hover{
    text-decoration: underline;
    cursor: pointer;
}


.third-item i{
    margin-top: 110px;
}

#mousee:hover{
    cursor: pointer;
}