*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Main Section */

.grid-container{
    display: grid;
    grid-template-columns: 100px  repeat(5,1fr);
    height: 100vh;
    margin: 0 20vh;
    width: 80vw;
}

.back-to-result{
    margin-top: 6px;
    font-size: 0.75rem;
    color: grey;
}

/* product img */

.product-img-container{
    grid-column: span 2;
    height: 120vh;
    
}

.product-img img{
    width: 100%;
    margin-top: 30%;
}

.product-img img:hover{
    cursor: pointer;
}

.product-img p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    padding-left: 100px;
    padding-top: 30px;
    font-size: .9rem;
    color: grey;
}

.product-img 
{
    position: sticky;
    top: 0;
    left: 0;
}

.product-img img:nth-child(2){
    position: relative;
}

.product-img img:nth-child(2){
    width: 30px;
    position: absolute;
    top: -150px;
    left: 34rem;
    
}

.small-border{
    display: grid;
    margin-top: 400px;
}

/* Product info container */

.product-info-container{
    border: 1px solid blue;
    grid-column: span 2;
}

.title-container{
    padding-top: 2rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}

.title-container h2{
    font-weight: normal;
    flex-direction: column;
    line-height: 1.3;
    font-size: 1.7rem;
}

.title-container a{
    color: rgb(0, 113, 133);
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 0.9rem;
}

.title-container a:hover{
    text-decoration: underline;
    color: #c45500;
}

.title-container p{
    display:flex;
}

.rating-arrow{
    height: 15px;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 5px;
}

.rating-arrow:hover{
    cursor: pointer;
}
 
.fa-star{
    font-size: 0.9rem;
    padding-top: 5px;
}
.fa-star:hover{
    cursor: pointer;
}

