
/* ipad */

@media (max-width:768px){

*{
    max-width: 150vw;
}

header{
    width: 140vw;
}
.grid-container{
    margin: 0 0;
    width: 170vw ;
}

.product-img-container{
    grid-column:2/3;
}

.bought-together-container{

    width: 200vw;

}

.carousel{
    width: 100vw;
}

}


/* PHONE (pixel 5) */



@media (max-width:500px){

*{
    font-size: 11px;
    max-width:60vh;
}


.grid-container{
    margin: 0 -10px;
    display: flex;
    flex-direction: column;

}

.product-img-container{
    height: 40vh;
}

.product-img{
    position: static;
    margin-left: 20px;
    width: 400px;
}
.title-container h2{
    margin-top: -325px;
    font-size: 1.2rem;
    width: 50ch;
}

#hide{
    display: none;
}

}
