*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 100px;
    background-color: #131a22;
}


/* Navbar */

.first-nav-bar{
   width: 100%;
   height: 60%;
   display: flex;
}

.logo-container{
    width: 120px;
    height: 5vh;
    padding-top: 4px;
    


}

.logo{
    height: 45px;
    background: url('/assets/amazon-logo.png');
    margin-left: 5px;
    padding-top: 52px;
}

.logo:hover{
    border: 1px solid white;
    cursor: pointer;
    border-radius: 3px;

}

/* deliver-to */

.gps-deliver-to{
    padding-left: 15px;
    margin: 2px 0;
    margin-top: 4px;
}
.gps-deliver-to:hover{
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;

}

.deliver-to{
    color: #ccc;
    width: 70px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 15px;
    padding-top: 15px;
}
    


.location-icon{
position: absolute;
top: 24px;

}


/* Search bar */


.search-bar-container{
    display: flex;
    padding: 10px;
    margin-left: 2rem;
    width: 1250px;
    flex: 1;
    
    
}

.search-bar:hover{
    outline: 3px solid orange;
}


.search-bar{
    width: 100%;
    display: flex;
    border-radius: 5px;
    
}




.search-bar-selector{
    width: 60px;
    border: none;
    outline: none;
    font-size: 0.75rem;
    padding-left: 7px;
    background-color: #dddddd;
    transition: 0.2s;
}


.search-bar-selector:hover{
    background-color: #ccc;
    cursor: pointer;
}

.search-bar-selector:focus{
    outline: 3px solid orange;
}
.search-bar-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 0.85rem;
}



.search-icon{
    background-color: #febd69;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;


}
.search-icon:hover{
    cursor: pointer;
    opacity: 0.9;
}



/* Language section */

.lang-container{
    display: flex;
    width: 85px;
    margin-top: 4px;
    margin-bottom: 2px;
    align-items: center;

}



.lang-img{
    display: flex;
    width: 5px;
    height: 5px;
    
}

#english{
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 5px;

    
}

.lang-container:hover{
    border: 1px solid white;
    cursor: pointer;
    border-radius: 3px;

}

.lang-img img{
    height: 20px;
    padding-left: 10px;
    
}

.lang-arrow{
    padding-left: 5px;
    padding-top: 3px;
    font-size: 0.8rem;
}


/* Sign in */

.sign-in{
    display: flex;
    color: white;
    font-size: 0.75rem;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 2px;
}

.sign-in p{
    padding-left: 6px; 
    padding-right: 6px;
}

.nav-second-row{
    display: block;
    font-weight: 600;
}

.sign-in-arrow{
    font-size: 0.8rem;
}

.sign-in:hover{
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

/* Returns and Orders */

.orders{
    display: flex;
    color: white;
    font-size: 0.8rem;
    margin: 3px;
    align-items: center;
    padding: 0 5px;
}

.orders:hover{
    cursor: pointer;
    border: 1px solid white;
    border-radius: 3px;
}

/* Cart */

.cart{
    display: flex;
    width: 100px;
    margin: 3px 0;
    align-items: center;

}

.cart-icon img{
    width: 40px;
}
.cart p{
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    font-weight: bold;

}

.cart:hover{
    border: 1px solid white;
    cursor: pointer;
    border-radius: 3px;
}

/* Second Navbar */

.second-nav-bar{
    height: 40%;
    width: 100%;
    background-color: #232f3e;
    display: flex;
}

/* all keyword */

.all-keyword{
    color: white;
    padding: 10px;
    margin-left: 15px;
    font-size: 0.9rem;
    font-weight: 700;
}

.burger{
    font-size: 1.3rem;
    padding-right: 5px;
}

.all-keyword:hover{
    cursor: pointer;
    border: 1px solid white;
    border-radius: 3px;

}

/* Today's Deal */

.todays-deal{
    color: white;
    padding: 13px;
    font-size: 0.9rem;
    font-weight: 700;


}

.todays-deal:hover{
    border: 1px solid white;
    cursor: pointer;
    border-radius: 3px;
}