*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 60px;
    background-color: #131a22;
}


/* Navbar */

.nav-bar{
   width: 100%;
   height: 100%;
   display: flex;
}

.logo-container{
    width: 120px;
    height: 5vh;
    padding-top: 4px;
    


}

.logo{
    height: 45px;
    background: url('/assets/amazon-logo.png');
    margin-left: 5px;
}

.logo:hover{
    border: 1px solid white;
    cursor: pointer;
}

/* deliver-to */

.gps-deliver-to{
    padding-left: 15px;
    position: relative;
}
.gps-deliver-to:hover{
    border: 1px solid white;
}

.deliver-to{
    color: #ccc;
    width: 70px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 15px;
    padding-top: 15px;
}
    


.location-icon{
position: absolute;
top: 24px;

}


/* Search bar */


.search-bar-container{
    display: flex;
    padding: 10px;
    margin-left: 2rem;
    width: 1250px;
    
    
}

.search-bar:hover{
    outline: 3px solid orange;
}


.search-bar{
    width: 100%;
    display: flex;
    border-radius: 5px;
    
}




.search-bar-selector{
    width: 60px;
    border: none;
    outline: none;
    font-size: 0.75rem;
    padding-left: 7px;
    background-color: #dddddd;
    transition: 0.2s;
}


.search-bar-selector:hover{
    background-color: #ccc;
    cursor: pointer;
}

.search-bar-selector:focus{
    outline: 3px solid orange;
}
.search-bar-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 0.85rem;
}



.search-icon{
    background-color: #febd69;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;


}
.search-icon:hover{
    cursor: pointer;
    opacity: 0.9;
}



/* Language section */

.lang-container{
    display: flex;
}



.lang-img{
    display: flex;
    padding: 25px;
    width: 5px;
    height: 5px;
    
}

#english{
    color: white;
    font-size: 0.9rem;
    padding-left: 5px;
    
}

.lang-img img{
    height: 20px;
    padding-bottom: 2px;
    
}

.lang-arrow{
    padding-left: 5px;
    padding-top: 3px;
    font-size: 0.8rem;
}


/* Sign in */

.sign-in{
    display: flex;
    color: white;
    flex-direction: column;
    padding-left: 50px;
    font-size: 0.75rem;
}

.sign-in p:nth-child(1){
    padding-top: 20px; 
}

.account{
    display: block;
    font-weight: 600;
}

.sign-in-arrow{
    font-size: 0.8rem;
}





